/* All bootstrap defaults can be overriden here. You may need to add the !important for the css. */

/* TODO: Override the Bootstrap variables rather than the classes themselves. Currently we are overriding
  features that we still want to keep, such as positioning and responsive sizing
 */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

h1, h2, h3, p, button, span {
  font-family: 'Source Code Pro', monospace !important;
}

a {
  text-decoration: none;
  color: black;
}