.button {
  background-color: #F8E371;
  border-radius: 50px;
  font-weight: 600;
  font-size: large;
  border: 1px solid black;
  padding: .75em 5em .75em 5em;
}

.button:hover {
  background-color: #ffdf2b;
}
